body {
    margin: 0;
    padding: 0px;
    background-color:rgb(10, 112, 41);
    background-size: auto;
    background-repeat: no-repeat;
    opacity: o.3;
}

p,
h1 {
    font-family: sans-serif;
}

.head {
    height: auto;
}

.second {
    background-color: transparent;
}

@media(max-width: 600px) {
    .head {
        height: auto;
    }
    .ido {
        height: 35vh;
    }
    .contact {
        margin-right: 5vh;
        margin-left: auto;
    }
    .second {
        flex: 1;
    }
    .navbar {
        padding-left: 4vh;
        gap: 2vh;
        width:auto;
        background-color: white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        display: flex;
        align-items: center;
    }
    .navbar h1 {
        font-size: smaller;
        color: black;
        font-weight: 200;
    }

    .id h1 {
        font-size: medium;
    }

    .id p {
        font-size: smaller;
    }
    
}

@media(min-width:601px) {

    .head {
        height: auto;
    }

    .bar {
        display: none;
    }

    .write {
        display: flex;
        flex-direction: row;
        flex: 1;
    }

    .second {
        gap: 10vh;
    }

    .ido {
        height: 35vh;
    }

    .navbar {
        padding-left: 8vh;
        gap: 3vh;
        width: auto;
        height: 4vh;
        background-color: white;
        display: flex;
        align-items: center;
    }

    .navbar h1 {
        font-size: small;
        font-weight: 200;
    }
    .contact{
        margin-left: auto;
        margin-right: 10vh;
    }
}

@media(min-width:1000px) {
    .head {
        border-radius: 20px;
        height: auto;
        background-color: transparent;
    }

    .second {
        gap: 15vh;
        margin-bottom: 0%;
        flex: 1;
    }

    .ido {
        height: 60vh;
    }

    .navbar {
        padding-left: 13vh;
        gap: 4.5vh;
        height: 50px;
        width: auto;
        background-color: white;
        display: flex;
        align-items: center;
    }

    .navbar h1 {
        font-size: medium;
        color: black;
        font-weight: 200;
    }

    .contact {
        margin-left: auto;
        margin-right: 20vh;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
}

.navbar h1 {
    margin: 0;
    padding: 0;
    color: black;
}

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
}

button {
    background-color: transparent;
    width: auto;
    height: 40px;
    border: none;
    cursor: pointer;
    padding: 0px;
}



a {
    text-decoration: none;
}

.write,
.gra {
    color: white;
    padding: 0%;
    margin: 0%;
}

.id h1,
h3 {
    color: white;
    padding: 0px;
    margin: 0px;
}

.write {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    width: initial;
}





.second {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: center;
}

.ido {

    display: flex;

}

.id {
    display: flex;
    flex-direction: column;
    align-self: center;

}