body {
    margin: 0;
    padding: 0;
}

.head {
    flex-grow: 1;
    height: 40vh;
    background-image: url(./images/pexels-sevenstormphotography-1187538.jpg);
    background-size: cover;
    padding-top: 20px;
}

@media(max-width: 600px) {
    .head {
        padding: 10px;
        font-size: 14px;
    }
    .ido{
        height: 35vh;
    }
}

@media(min-width:601px) {
    .head {
        padding: 20px;
        font-size: 18px;
    }

    .second {
        gap: 10vh;
    }
    .ido{
        height: 35vh;
    }
}

@media(min-width:1000px) {
    .head {
        padding: 30px;
        padding-bottom: 0%;
        font-size: 20px;
        height: 60vh;
    }

    .second {
        gap: 15vh;
        margin-bottom: 0%;

    }
    .ido{
        height: 50vh;
    }
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    height: auto;
}

.navbar h4 {
    color: rgb(39, 121, 114);
    margin: 0;
    padding: 0;
}

button {
    background-color: transparent;
    width: 80px;
    height: 40px;
    border: none;
    cursor: pointer;
}

button h4:hover {
    font-size: large;
    color: greenyellow;
    background-color: rgb(150, 157, 157);
    border-radius: 20px;

}

a {
    text-decoration: none;
}

.contact {
    margin-left: auto;
}



.write,
.gra {
    color: greenyellow;
}

.id h1,
h3 {
    padding: 0px;
    margin: 0px;
}

.write {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    width: initial;
}

.bar {
    animation: baro 1s ease-out infinite;
}

@keyframes baro {
    0% {
        color: yellowgreen;
        visibility: hidden;
    }

    100% {
        color: transparent;
    }
}

.second {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: center;

}

.ido {
   
    display: flex;

}

.id {
    display: flex;
    flex-direction: column;
    align-self: center;

}